<section class="product">
  <div class="container product__container">

    {{#with productInfoData.image}}
    {{> ./productSlider}}
    {{/with}}

    <article class="product__content">
      <div class="product__main-info">
        <div class="product__name-wrapper">
          <h2 class="product__name">{{productInfoData.productName}}</h2>
          {{> ../../components/buttonAddLike}}
        </div>
        <p class="product__price">{{productInfoData.productPrice}} <span class="product__currency">&#8372;</span></p>
      </div>

      <form class="product__form">
        <div class="product__size">
          <h3 class="product__size size__title">размер</h3>
          <ul class="size__list">
            {{#each this.btn}}
            {{{this}}}
            {{/each}}
          </ul>
        </div>

        <div class="product__size-options">
          <ul class=" options">
            <li class="options__item">
              <button type="button" class="button__size-option button__size-option--available-size"
                aria-label="not your size?">
                <svg class="options__icon" width="21" height="21">
                  <use href="./images/sprite.svg#icon-sign"></use>
                </svg>
                нет вашего размера?
              </button>
            </li>
            <li class="options__item">
              <button type="button" class="button__size-option button__size-option--find-size"
                aria-label="determine your size">
                <svg class="options__icon" width="21" height="21">
                  <use href="./images/sprite.svg#icon-hanger"></use>
                </svg>
                определите свой размер
              </button>
            </li>
          </ul>
        </div>

        <div class="product__color">
          <h3 class="colorpicker__title">цвет</h3>
          <ul class="colorpicker__list">
            {{#each productInfoData.productAviable}}
            <input class="colorpicker__input" type="radio" id="{{this.colorId}}" name="colorChoice"
              data-value={{this.colorName}} value={{this.colorId}} required>
            <label class="colorpicker__label colorpicker__label--{{this.colorName}}" for="{{this.colorId}}"
              aria-label="{{this.colorName}}"></label>
            {{/each}}
          </ul>
        </div>

        <div class="product__buttons-block">
          <ul class="button__list">
            <li class="button__item-buy"><button class="button__purchase button__purchase--buy" type="submit"
                aria-label="buy">купить</button></li>
            <li class="button__item-fit"><button class="button__purchase button__purchase--fit" type="button"
                aria-label="fitting">примерка</button></li>
            <li class="button__item-ipo"><button class="button__purchase button__purchase--installment" type="button"
                disabled="disabled" aria-label="buy in installments">купить в расстрочку</button>
            </li>
          </ul>
        </div>
      </form>

      <div class="product__info">
        <p class="product__description">{{productInfoData.productDescription}}</p>
        <p class="product__composition"><span class="product__composition--bold">Состав:</span>
          {{productInfoData.productComposition}}
        </p>
      </div>

      <div class="product__characteristics">
        <ul class="product__characteristics-list">
          <li class="product__characteristic-item product__characteristic-item--params">
            <p class="product__characteristics-name">параметры</p>
            <button class="button__plus button__plus--params" type="button" aria-label="product params"></button>
            <ul class="params__grid" data-params-menu>
              {{#each productInfoData.productParams}}
              <li class="params__item">{{this.params}}</li>
              <li class="params__item">{{this.value}}</li>
              {{/each}}
            </ul>
          </li>
          <li>

          </li>
          <li class="product__characteristic-item">
            <p class="product__characteristics-name">дополнительно</p>
            <button class="button__plus button__plus--aditional" type="button" aria-label="additionally"></button>
            <p class="aditional__grid" data-aditional-menu>
              {{productInfoData.productAdditional}}
            </p>
          </li>
        </ul>

      </div>
    </article>

  </div>
</section>