<section class="product">
  <div class="container product__container">

    {{#each this}}

    {{!-- {{{productSlider}}} --}}

    <div class="product-slider-smaller__wrapper">
      <ul class="product-slider-smaller">
        {{#each image}}
        <li class="product-slider-smaller__item">
          <picture>
            <source srcset="
                  {{imageDesctopMini}} 1x,
                  {{imageDesctopMiniHigherResolution}} 2x," media="(min-width: 1378px)">
            <img class="product-slider-smaller__image" src="{{imageDesctopMini}}" alt="{{imageDescriprion}}">
          </picture>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="product-slider__wrapper">
      <ul class="product-slider">
        {{#each image}}
        <li class="product-slider__item">
          <picture>
            <source srcset="
                  {{imageMobile}} 1x,
                  {{imageMobileHigherResolution}} 2x," media="">
            <img class="product-slider__image" src="{{imageMobile}}" alt="{{imageDescriprion}}">
          </picture>
        </li>
        {{/each}}
      </ul>
    </div>

    <article class="product__content">
      <div class="product__name-wrapper">
        <h2 class="product__name">{{productName}}</h2>
        <button class="button__like"></button>
        <p class="product__price">{{productPrice}} <span class="product__currency">&#8372;</span></p>
      </div>

      <h3 class="product__size size__title">размер</h3>
      <ul class="size__list">
        {{#each size}}
        <li class="size__item">{{this}}</li>
        {{/each}}
      </ul>

      <ul class="size__options options">
        <li class="options__item">
          <button class="button__size-option">
            <svg class="options__icon" width="21" height="21">
              <use href="./images/sprite.svg#icon-sign"></use>
            </svg>
            нет вашего размера?
          </button>
        </li>
        <li class="options__item">
          <button class="button__size-option">
            <svg class="options__icon" width="21" height="21">
              <use href="./images/sprite.svg#icon-hanger"></use>
            </svg>
            определите свой размер
          </button>
        </li>
      </ul>

      <div class="colorpicker">
        <h3 class="colorpicker__title">цвет</h3>
        <ul class="colorpicker__list">
          <li class="colorpicker__item">
            <button class="button__colorpicker button__colorpicker--black" type="button">
              <svg class="colorpicker__icon" width="46" height="46">
                <use href="./images/sprite.svg#icon-colorpicker"></use>
              </svg>
            </button>
            </button>
          </li>
          <li class="colorpicker__item">
            <button class="button__colorpicker button__colorpicker--red" type="button">
              <svg class="colorpicker__icon" width="46" height="46">
                <use href="./images/sprite.svg#icon-colorpicker"></use>
              </svg>
            </button>
            </button>
          </li>
          <li class="colorpicker__item">
            <button class="button__colorpicker button__colorpicker--grey" type="button">
              <svg class="colorpicker__icon" width="46" height="46">
                <use href="./images/sprite.svg#icon-colorpicker"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>

      <ul class="button__list">
        <li><button class="button__purchase button__purchase--buy" type="button">купить</button></li>
        <li><button class="button__purchase button__purchase--fit" type="button">примерка</button></li>
        <li><button class="button__purchase button__purchase--installment" type="button">купить в расстрочку</button>
        </li>
      </ul>

      <div class="product__info">
        <p class="product__description">{{productDescription}}</p>
        <p class="product__composition"><span class="product__composition--bold">Состав:</span> {{productComposition}}
        </p>
      </div>

      <div class="product__characteristics">
        <ul class="product__characteristics-list">
          <li class="product__characteristic-item product__characteristic-item--params">
            <p class="product__characteristics-name">параметры</p>
            <button class="button__plus button__plus--params" type="button">+</button>
            <ul class="params__grid" data-params-menu>
              <li class="params__item">Вид застежки:</li>
              <li class="params__item">Пуговица, обтянутая атласом</li>
              <li class="params__item">Длина изделия:</li>
              <li class="params__item">По спинке 69 см</li>
              <li class="params__item">Крой:</li>
              <li class="params__item">Приталенный</li>
              <li class="params__item">Рисунок:</li>
              <li class="params__item">Без рисунка</li>
              <li class="params__item">Тип карманов:</li>
              <li class="params__item">Прорезные "листочки"</li>
              <li class="params__item">Конструктивные элементы:</li>
              <li class="params__item">Рельефные швы</li>
              <li class="params__item">Материал подкладки:</li>
              <li class="params__item">Вискоза 100%</li>
              <li class="params__item">Уход за вещами:</li>
              <li class="params__item">Химчистка</li>
            </ul>
          </li>
          <li>

          </li>
          <li class="product__characteristic-item">
            <p class="product__characteristics-name">дополнительно</p>
            <button class="button__plus button__plus--aditional" type="button">+</button>
            <p class="aditional__grid" data-aditional-menu>
              Как принято считать, стремящиеся вытеснить традиционное производство, нанотехнологии ассоциативно
              распределены по
              отраслям. А также независимые государства освещают чрезвычайно интересные особенности картины в целом,
              однако конкретные
              выводы, разумеется, ограничены исключительно образом мышления.
            </p>
          </li>
        </ul>

      </div>
    </article>

  </div>
  {{/each}}

  </div>
</section>