<div class="product-slider-smaller__wrapper">
  <ul class="product-slider-smaller">
    {{#each []}}
    <li class="product-slider-smaller__item">
      <picture>
        <source srcset="{{imageSliderSmall}} 1x, {{imageSliderSmall2x}} 2x" media="(min-width: 1378px)" />
        <img class="product-slider-smaller__image" src="#" alt="{{imageDescriprion}}" loading='lazy' />
      </picture>
    </li>
    {{/each}}
  </ul>
</div>

<div class="product-slider__wrapper">
  <ul class="product-slider">
    {{#each []}}
    <li class="product-slider__item">
      <picture>
        <source srcset="{{imageSliderBig}} 1x, {{imageSliderBig2x}} 2x" media="(min-width: 1378px)" />
        <source srcset="{{imageSliderBig}} 1x, {{imageSliderBig2x}} 2x" media="(min-width: 721px)" />
        <source srcset="{{imageSliderBig}} 1x, {{imageSliderBig2x}} 2x" media="(min-width: 320px)" />
        <img class="product-slider__image" src="#" alt="{{imageDescriprion}}" loading='lazy' />
      </picture>
    </li>
    {{/each}}
  </ul>
</div>