<section class="product">
  <div class="container product__container">

    {{#each this}}
      <div class="product-slider-smaller__wrapper">
        <ul class="product-slider-smaller">
          {{#each image}}
            <li class="product-slider-smaller__item">
              <picture>
                <source srcset="
                  {{imageDesctopMini}} 1x,
                  {{imageDesctopMiniHigherResolution}} 2x," 
                  media="(min-width: 1378px)">
                <img class="product-slider-smaller__image" 
                  src="{{imageDesctopMini}}"
                  alt="{{imageDescriprion}}">
              </picture>
            </li>
          {{/each}}
        </ul>
      </div>
    
      <div class="product-slider__wrapper">
        <ul class="product-slider">
          {{#each image}}
            <li class="product-slider__item">
              <picture>
                <source srcset="
                  {{imageMobile}} 1x,
                  {{imageMobileHigherResolution}} 2x," 
                  media="">
                <img class="product-slider__image" 
                  src="{{imageMobile}}"
                  alt="{{imageDescriprion}}">
              </picture>
            </li>
          {{/each}}
        </ul>
      </div> 
      
      <div class="product__content">
        <div class="product__name-wrapper">
          <h2 class="product__name">{{productName}}</h2>
          <button class="button__like"></button>
          <p class="product__price">{{productPrice}} <span class="product__currency">&#8381;</span></p>
        </div>

        <h3 class="product__size size__title">размер</h3>
        <ul class="size__list">
          {{#each size}}
          <li class="size__item">{{this}}</li>
          {{/each}}
        </ul>

        <ul class="size__options options">
          <li class="options__item">
            <button class="button__size-option">
              <svg class="options__icon" width="21" height="21">
                <use href="./images/attension-sign.svg"></use>
              </svg>
              нет вашего размера?
            </button>
          </li>
          <li class="options__item">
            <button class="button__size-option">
              <svg class="options__icon" width="21" height="21">
                <use href="./images/hanger.svg"></use>
              </svg>
              определите свой размер
            </button>
          </li>
        </ul>
    
        <div class="colorpicker">
          <h3 class="colorpicker__title">цвет</h3>
          <ul class="colorpicker__list">
            <li class="colorpicker__item"><button class="button__colorpicker button__colorpicker--black" type="button"></button></li>
            <li class="colorpicker__item"><button class="button__colorpicker button__colorpicker--red" type="button"></button></li>
            <li class="colorpicker__item"><button class="button__colorpicker button__colorpicker--grey" type="button"></button></li>
          </ul>
        </div>
    
        <ul class="button-block">
          <li><button class="button button__buy" type="button">купить</button></li>
          <li><button class="button button__fit" type="button">примерка</button></li>
          <li><button class="button button__installment" type="button">купить в расстрочку</button></li>
        </ul>
    
        <div class="product__info">
          <p class="product__description">{{productDescription}}</p>
          <p class="product__composition"><span class="product__composition--bold">Состав:</span> {{productComposition}}</p>
        </div>
    
        <ul class="product__characteristics">
          <li class="product__characteristic-item">
            параметры
            <button class="button__plus" type="button">+</button>
          </li>
          <li class="product__characteristic-item">
            дополнительно
            <button class="button__plus" type="button">+</button>
          </li>
        </ul>

        <div class="params-menu">
        </div>
      </div>
    {{/each}}

  </div>
</section>
