<ul class='recomendation-category__list slider'>
  {{#each this}}
    <li class='recomendation-category__item slider__item' id="{{id}}">
      <div class='recomendation-category__link' >
        <picture>
          <source srcset="{{img.srcset}}" media='(min-width: 1920px)' />
          {{#if img.srcset-mobile}}
            <source srcset="{{img.srcset-mobile}}" media='(max-width: 414px)' />
          {{/if}}
          <img src="{{img.src}}" alt="{{img.alt}}" class='recomendation-category__image' />
        </picture>
      </div>
      <div class='recomendation-category__card-text'>
        <div class='recomendation-category__block-title'>
          <h3 class='recomendation-category__item-title'>
            {{name}}
          </h3>
          <button class='button-add-likes {{#if likes}} active{{/if}} js-btn-like' data-id="{{id}}">
            <svg class='button-add-likes__icon'>
              <use href='./images/icon-product-delivery.svg#icon-heart'></use>
            </svg>
          </button>
        </div>
        <div class='recomendation-category__block-characters'>
          <span class='recomendation-category__price'>
            {{productPrice}}
            <span>
              ₴
            </span>
          </span>
          <span class='recomendation-category__characters'>
            {{description}}
          </span>
        </div>
      </div>
    </li>
  {{/each}}
</ul>