<section class='hand-sewn'>
  <h2 class="hand-sewn__title">Преимущества нашего пошива и доставки</h2>
  <ul class='hand-sewn__list'>
    {{#each this}}
    <li
      class='hand-sewn__item {{#if odd}}hand-sewn__item_biggest-bottom{{/if}}{{#if even}}hand-sewn__item_biggest-top{{/if}}'>
      <div class='container'>
        <div class='hand-sewn__block-text'>
          <h3 class='hand-sewn__item-title'>
            {{title}}
          </h3>
          <p class='hand-sewn__item-text'>
            {{text}}
          </p>
          <ul class='hand-sewn__list-info'>
            {{#each listCharacter}}
            <li class='hand-sewn__item-info hand-sewn__item-info_counters'>
              {{text}}
            </li>
            {{/each}}
            {{#if button}}
            <li class='hand-sewn__item-info'>
              <button type='button' class='delivery-button js-button-product-delivery' aria-label="order delivery">
                ЗАКАЗАТЬ ДОСТАВКУ
              </button>
            </li>
            {{/if}}
          </ul>
        </div>
        <picture>
          <source srcset="{{imgDesktop}} 1x, {{imgDesktop2}} 2x" media='(min-width: 1378px)' />
          <source srcset="{{imgMobile}} 1x, {{imgMobile2}} 2x" media='(max-width: 1377px)' />
          <img srcset="{{imgMobile}} 1x, {{imgMobile}} 2x" src="{{imgMobile}}" alt='Упаковка для товара'
            class='hand-sewn__image {{#if even}}hand-sewn__image_left{{/if}} {{#if even}}hand-right{{/if}}' />
        </picture>
      </div>
    </li>
    {{/each}}
  </ul>
</section>