<div class="product-slider-smaller__wrapper">
  <ul class="product-slider-smaller">
    {{!-- {{#each image}}
    <li class="product-slider-smaller__item">
      <picture>
        <source srcset="{{imageDesctopMini}} 1x, {{imageDesctopMiniHigherResolution}} 2x," media="(min-width: 1378px)">
        <img class="product-slider-smaller__image" src="{{imageDesctopMini}}" alt="{{imageDescriprion}}">
      </picture>
    </li>
    {{/each}} --}}

    <li class="product-slider-smaller__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)">
        <img class="product-slider-smaller__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
    <li class="product-slider-smaller__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)">
        <img class="product-slider-smaller__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
    <li class="product-slider-smaller__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)">
        <img class="product-slider-smaller__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
    <li class="product-slider-smaller__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)">
        <img class="product-slider-smaller__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
  </ul>
</div>

<div class="product-slider__wrapper">
  <ul class="product-slider">
    {{!-- {{#each image}}
    <li class="product-slider__item">
      <picture>
        <source srcset="
                  {{imageMobile}} 1x,
                  {{imageMobileHigherResolution}} 2x," media="">
        <img class="product-slider__image" src="{{imageMobile}}" alt="{{imageDescriprion}}">
      </picture>
    </li>
    {{/each}} --}}
    
    <li class="product-slider__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)" width="700" height="1221">
        <source srcset="{{img.srcset}}" media="(min-width: 721px)" width="500" height="872">
        <source srcset="{{img.srcset}}" media="(min-width: 320px)" width="280" height="488">
        <img class="product-slider__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
    <li class="product-slider__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)" width="700" height="1221">
        <source srcset="{{img.srcset}}" media="(min-width: 721px)" width="500" height="872">
        <source srcset="{{img.srcset}}" media="(min-width: 320px)" width="280" height="488">
        <img class="product-slider__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
    <li class="product-slider__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)" width="700" height="1221">
        <source srcset="{{img.srcset}}" media="(min-width: 721px)" width="500" height="872">
        <source srcset="{{img.srcset}}" media="(min-width: 320px)" width="280" height="488">
        <img class="product-slider__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
    <li class="product-slider__item">
      <picture>
        <source srcset="{{img.srcset}}" media="(min-width: 1378px)" width="700" height="1221">
        <source srcset="{{img.srcset}}" media="(min-width: 721px)" width="500" height="872">
        <source srcset="{{img.srcset}}" media="(min-width: 320px)" width="280" height="488">
        <img class="product-slider__image" src="{{img.src}}" alt="{{img.alt}}">
      </picture>
    </li>
  </ul>
</div>
