<section class='recomendation-category'>
  <div class='recomendation-category__block-title'>
    <div class='container'>
      <h2 class='recomendation-category__title'>
        ВЫГЛЯДЕТЬ БЛИСТАТЕЛЬНО ПОМОЖЕТ
      </h2>
    </div>
  </div>
  <div class='container'>
    <ul class='recomendation-category__list slider'>
      {{#each this}}
        <li class='recomendation-category__item slider__item'>
          {{! < class='recomendation-category__item slider__item'> }}
          <a href='./' class='recomendation-category__link' data-id="{{id}}">
            <picture>
              <source srcset="{{image.srcset}}" media='(min-width: 1920px)' />
              <source srcset="{{image.srcset-mobile}}" media='(max-width: 414px)' />
              <img src="{{image.src}}" alt="{{image.alt}}" class='recomendation-category__image' />
            </picture>
          </a>
          <div class='recomendation-category__card-text'>
            <div class='recomendation-category__block-title'>
              <span class='recomendation-category__item-title'>
                {{name}}
              </span>
              <button class='recomendation-category__add-likes'>
                <svg class='recomendation-category__icon'>
                  <use href="{{icon}}"></use>
                </svg>
              </button>
            </div>
            <div class='recomendation-category__block-characters'>
              <span class='recomendation-category__price'>
                {{price}}
              </span>
              <span class='recomendation-category__characters'>
                {{description}}
              </span>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>