{{#each this}}
  <li class='description-title'>
    <div class='description-main'>
      <p class='description-main-text'>{{desctiption}}</p>
    </div>
    <div class='description-main'>
      <p class='description-main-text'>{{desctiption01}}</p>
    </div>
    <div class='description-main'>
      <p class='description-main-text'>{{desctiptionname}}</p>
    </div>
  </li>
  <li class='description-title'>
    <div class='navara'>
      <div class='description-main'>
        <p class='description-main-text'>{{desctiptiontime}}</p>
        <svg class='delivery__icon' role='img' aria-label='Иконка солнца'>
          <use href='./images/exampl.svg#icon-delivery-clock'></use>
        </svg>
      </div>

    </div>
  </li>
  <li class='description-title'>
    <div class='navara'>
      <div class='description-main description-main-cl'>
        <p class='description-main-text'>{{desctiptionreg}}</p>
        <svg class='delivery__icon' role='img' aria-label='Иконка солнца'>
          <use href='./images/exampl.svg#icon-delivery-surprise'></use>
        </svg>
      </div>

      <div class='description-main description-main-cl'>
        <p class='description-main-text'>{{desctiptiondic}}</p>
      </div>
    </div>
  </li>
{{/each}}