<h3 class='typeofdelivery'>
  ВИДЫ ДОСТАВКИ
</h3>
{{#each this}}
  <li class='description-title'>
    <p class='description-main'>
      {{desctiption}}
    </p>
    <p class='description-main'>
      {{desctiption01}}
    </p>
    <p class='description-main'>
      {{desctiptionname}}
    </p>
  </li>

  <li class='description-title'>
    <div class='navara'>
      <p class='description-main'>
        {{desctiptiontime}}
      </p>
    </div>
    <svg class='delivery__icon' role='img' aria-label='Иконка солнца'>
      <use href='./images/exampl.svg#icon-delivery-clock'></use>
    </svg>
  </li>

  <li class='description-title'>
    <div class='navara'>
      <p class='description-main'>
        {{desctiptionreg}}
      </p>
      <p class='description-main'>
        {{desctiptiondic}}
      </p>
    </div>
    <svg class='delivery__icon' role='img' aria-label='Иконка солнца'>
      <use href='./images/exampl.svg#icon-delivery-surprise'></use>
    </svg>
  </li>
{{/each}}