{{#each this}}
<li class='catalog-product-card' id='{{id}}'>
  <div class='catalog-product-card--wrapper'>
    <div class="catalog-product-card__image-box">
      <img class='catalog-product-card__image' {{#each image}} srcset='{{imageProduct}}' src='{{imageProduct}}'
        alt='{{imageDescriprion}}' {{/each}} />
    </div>


    <div class='catalog-product-card__content'>
      <h3 class='catalog-product-card__title'>
        {{productName}}
      </h3>
      <svg class='catalog-product-card__heart' data-id="{{id}}">
        <use href='../images/catalog.svg#icon-gallery-card-heart'></use>
      </svg>
      <div class='catalog-product-card__about-box'>
        <p class='catalog-product-card__price'>
          {{productPrice}}UAH
        </p>
        <p class='catalog-product-card__about'>
          {{productAbout}}
        </p>
      </div>
    </div>
  </div>
</li>
{{/each}}