{{#each this}}
  <div class='catalog-item' id='{{id}}'>
    <div class='catalog-card'>
      <img class='card-image' srcset='{{img.srcset}}' src='{{img.src}}' alt='{{img.alt}}' />
      <div class='card-content'>
        <h2 class='card-name'>{{name}}</h2>
        <svg class='icon-gallery-card-heart'>
          <use href='{{icon}}'></use>
        </svg>
        <div class='card-price-descr'>
          <p class='card-price'>{{productPrice}}UAH</p>
          <p class='card-descr'>{{description}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}