{{#each this}}
<div class='catalog__product-card' id='{{id}}'>
  <div class='catalog__product-card--wrapper'>
    <div class="catalog__product-catalog__product-card-image-box">
      <img class='catalog__product-card-image' {{#each image}} srcset='{{imageProduct}}' src='{{imageProduct}}'
        alt='{{imageDescriprion}}' {{/each}} />
    </div>


    <div class='catalog__product-card-content'>
      <h2 class='catalog__product-card-name'>
        {{productName}}
      </h2>
      <svg class='catalog__product-card-heart'>
        <use href='{{icon}}'></use>
      </svg>
      <div class='catalog__product-catalog__product-card-aboutiption-box'>
        <p class='catalog__product-card-price'>
          {{productPrice}}UAH
        </p>
        <p class='catalog__product-card-about'>
          {{productAbout}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}