<li class='catalog-item'>
  <article class='catalog-card card'>
    <img class='card-image' srcset='{{image.srcset}}' src='{{image.src}}' alt='{{image.alt}}' />
    <div class='card-content'>
      <h2 class='card-name'>{{name}}</h2>
      <svg class='card-icon'><use href='{{icon}}'></use></svg>
      <p class='card-price'>
        {{price}}₽
      </p>
      <p class='card-descr'>
        {{description}}
      </p>
    </div>
  </article>
</li>