<div class='form__method-ordering form__method-ordering--flex'>
  <div class='information-for-user'>
    <div class="delivery" role='group'>
      <h3 class="delivery__title">ВЫБЕРИТЕ СПОСОБ ДОСТАВКИ</h3>
      <div class="delivery-method ">
        {{#each this.delivery}}
        <label class="delivery-method__item">
          <input class="delivery-method__form-radio" id={{id}} type='radio' name='delivery-method' value={{value}}
            {{checked}} aria-label="delivery to me" />
          <span class="delivery-method__text">{{text}}</span>
        </label>
        {{/each}}
      </div>
      <div class="showroom-method">
        <div class="showroom-method__item">
          <input class="showroom-method__form" name="day" id="js-day" placeholder="ВЫБЕРИТЕ ДАТУ" minlength='5'
            aria-label="delivery to showroom" />
          <ul class="showroom-list showroom-list--hide js-day" id='day-list'>
            {{#each this.day-data}}
            <li class="showroom-list__item"><svg class="showroom-list__icon-murkup">
                <use href="./images/murkup.svg#icon-murkup"></use>
              </svg><span>{{day}},</span>{{data}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="showroom-method__item">
          <input class="showroom-method__form" name="time" id="js-time" placeholder="ВЫБЕРИТЕ ВРЕМЯ" minlength='5' />
          <ul class="showroom-list showroom-list--hide js-time" id='time-list'>
            {{#each this.time}}
            <li class="showroom-list__item"><svg class="showroom-list__icon-murkup">
                <use href="./images/murkup.svg#icon-murkup"></use>
              </svg>{{time}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class='basic-information' role='group'>
      <h3 class='basic-information__title'>ОСНОВНАЯ ИНФОРМАЦИЯ</h3>
      <label class="basic-information__field">
        <input type='text' name='name' minlength='2' placeholder='ВВЕДИТЕ ФИО' minlength="2" required
          aria-label="enter your full name" />
      </label>
      <label class="basic-information__field">
        <input type="tel" name='tel' required pattern='[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}' title='067-000-00-00'
          placeholder='ВВЕДИТЕ ТЕЛЕФОН' aria-label="enter your phone" />
      </label>
      <label class="basic-information__field">
        <input type='email' name='email' placeholder='ВВЕДИТЕ E-MAIL' required aria-label="enter your email" />
      </label>
      <label class="basic-information__field">
        <textarea name='feedback' placeholder='ДОБАВИТЬ КОММЕНТАРИЙ' aria-label="enter your comment"></textarea>
      </label>
      <label class="basic-information__field">
        <input class="basic-information__checkbox" type="checkbox" name='agreement-conditions' value="I agree" required
          aria-label="i accept the publc offer agreement" />
        <span class="basic-information__text">Я принимаю договор публичной оферты</span>
      </label>
    </div>
    <div class='payment' role='group'>
      <h3 class="payment-method__title">ВЫБЕРИТЕ СПОСОБ ОПЛАТЫ</h3>
      <div class='payment-method'>
        {{#each this.payment}}
        <label class='payment-method__item'>
          <input class="payment-method__form-radio" type='radio' name='payment-method' value={{value}} {{checked}}
            aria-label="payment method" />
          <span class='payment-method__text'>{{text}}</span>
        </label>
        {{/each}}
      </div>
    </div>
    <div class='total'>
      <p class="total__text">ИТОГО:</p>
      <div class="total--flex">
        <p class="total__value">0 </p>
        <span>&#8372;</span>
      </div>

    </div>
    <button class="button__checkout" type='submit' data-modal-open aria-label="checkout">ОФОРМИТЬ ЗАКАЗ</button>
  </div>

  <div class='description'>
    <div class="description-thumb">
      <div class="description-images">
        <img class="card-image--no-gap" srcset="./images/buyers.jpg 1x, ./images/buyers@2x.jpg 2x"
          src="./images/buyers.jpg" alt="покупатели" width="458px" height="452px" loading="lazy">
        <img class="card-image--no-gap" srcset="./images/mirror_reflection.jpg 1x, ./images/mirror_reflection@2x.jpg 2x"
          src="./images/mirror_reflection.jpg" alt="зеркальное отражение покупателей" width="92px" height="452px"
          loading="lazy">
      </div>
      <p class="description__text">Все заказы, размещенные на сайте ELEAN бережно и с любовью упакованы в картонную
        коробку и перевязанны лентой с логотипом бренда.</p>
      <p class="description__text">Костюмы доставляются в тканевом чехле для комфортного хранения и перевозки. В каждый
        заказ вкладывается карточка с рекомендациями по уходу за изделиями.</p>
    </div>
  </div>