 <section class="catalog-container">
        <div id="filter" class="catalog-category-container">
         <h2 class="catalog-category-header">Категории</h2>
       <ul class='tag-list'>
  {{#each category}}
    <li class='category__item'>{{this}}</li>
  {{/each}}
   {{#each collection}}
    <li class='collection__item'>{{this}}</li>
  {{/each}}
</ul>
         <h2 class="catalog-category-collection-header">Коллекции</h2>
         <ul calss='catalog-category-collection-list'>
          <li class="catalog-category-collection-item">Осень-зима 20-21</li>
                                        <li class="catalog-category-collection-item">Вечерние комплекты</li>
                                        <li class="catalog-category-collection-item">Предзаказ</li>
                                   <li class="catalog-category-collection-item">Свадьба и выпускной</li>
                                 
        </div>
        <div class="catalog-gallery">
        <h3 class="catalog-category-name">Заголовок категории</h3>
            
        <ul class="catalog-list js-catalog">
            {{#each this}}
<li class='catalog-item'>
  <article class='catalog-card card'>
    <img class='card-image' srcset='{{image.srcset}}' src='{{image.src}}' alt='{{image.alt}}' />
    <div class='card-content'>
      <h2 class='card-name'>{{name}}</h2>
      <svg class='card-icon'><use href='{{icon}}'></use></svg>
      <p class='card-price'>
        {{price}}₽
      </p>
      <p class='card-descr'>
        {{description}}
      </p>
    </div>
  </article>
</li>
{{/each}}
          <svg class="catalog-icon-raws-round">
            <use href="./images/svg/catalog-gallery-icons.svg/#icon-raws-round"></use>
          </svg>
        </ul></div>
      </section>