<section class='contacts'>
  <h2 class='contacts__heading'>КОНТАКТЫ</h2>
  <div class='contacts__map-wrapper'>
    {{{contactsMap}}}
  </div>
  <div class='contacts__contacts-wrapper'>
    <ul class='contacts__list'>
      <li class='contacts__item'><a class='contacts__link' href='tel:{{phoneNumber}}'>ТЕЛ.:
          {{phoneNumberFormated}}</a></li>
      <li class='contacts__item'><a class='contacts__link' href='mailto:{{email}}'>EMAIL:
          {{email}}</a></li>
      <li class='contacts__item'><a class='contacts__link' href={{viberRef}}>VIBER:
          {{viberNumber}}</a></li>
    </ul>
    <ul class='contacts__list'>
      <li class='contacts__item'>{{entrepreneurName}}</li>
      <li class='contacts__item'>{{entrepreneurInfo}}</li>
    </ul>
    <h3 class='contacts__subheading'>АДРЕС И РЕЖИМ РАБОТЫ</h3>
    <ul class='contacts__list'>
      <li class='contacts__item'>{{visitingHours}}</li>
      <li class='contacts__item'>АДРЕС: {{adress}}</li>
    </ul>
  </div>
  <div class='contacts__form'>
    {{! тут форма примерки }}
  </div>
</section>