<section class='section section-delivery'>

  <div class='js-nav-product'>
    {{{buttonsDelivery}}}
  </div>
  <div class='container js-question-box'>
    <div class='nav-product'>
      <h2 class='head-delivery'>
        Доставка
      </h2>
    </div>
    <div>
      <div class='delivery-container'>
        <div class='mainfoto js-mainfoto'>
          {{{mainImageDelivery}}}
        </div>
        <div class='maindescrption'>
          <h3 class='typeofdelivery'>
            ВИДЫ ДОСТАВКИ
          </h3>
          <ul class='description-delivery'>
            {{{descriptionDelivery}}}
          </ul>
        </div>
      </div>
    </div>
    <div class='question'>
      <h3 class='question-answer'>
        ВОПРОСЫ И ОТВЕТЫ
      </h3>
      <div class='question-main js-question-main'>
        <ul class='question-body'>
          {{{questionDelivery}}}
        </ul>
      </div>
    </div>
    <div class='delivery-formReviews-box'>
      {{{formDeliveryMarkUp}}}
    </div>
  </div>
  {{{mainModal}}}
</section>