<section class='section section-delivery'>

  <div class='js-nav-product'>
    {{{buttonsDelivery}}}
  </div>
  <div class='container js-question-box'>
    <div class='nav-product'>
      <h2 class='head-delivery'>
        Доставка
      </h2>
    </div>
    <div>
      <div class='delivery-container'>
        <div class='mainfoto js-mainfoto'>
          {{{mainImageDelivery}}}
        </div>
        <div class='maindescrption'>
          <h3 class='typeofdelivery'>
            ВИДЫ ДОСТАВКИ
          </h3>
          <ul class='description-delivery'>
            {{{descriptionDelivery}}}
          </ul>
        </div>
      </div>
    </div>
    <div class='question'>
      <h3 class='question-answer'>
        ВОПРОСЫ И ОТВЕТЫ
      </h3>
      <div class='question-main js-question-main'>
        <ul class='question-body'>
          {{{questionDelivery}}}
        </ul>
      </div>
    </div>
    {{! <div class='formquestion'>
      <div class='formquestion-head'>
        <svg class='ask-question__icon' role='img' aria-label='Иконка солнца'>
          <use href='./images/exampl.svg#icon-compass'></use>
        </svg>
        <h2 class='ask-question'>
          ЗАДАТЬ ВОПРОС
        </h2>
      </div>
      <form class='js-question-form' action='#' autocomplete='off'>
        <div class='form-input'>
          <lable>
            <input type='text' class='input-name' name='name' placeholder='ВВЕДИТЕ ИМЯ' />
          </lable>
          <lable>
            <input name='number' class='input-name' type='number' placeholder='ВВЕДИТЕ ТЕЛЕФОН' />
          </lable>
          <lable>
            <input
              name='input-time'
              class='input-name'
              type='text'
              placeholder='ВВЕДИТЕ УДОБНОЕ ВРЕМЯ'
            />
          </lable>
        </div>
        <lable>
          <textarea
            name='coment'
            class='input-coment'
            type='submit'
            rows='6'
            placeholder='ДОБАВИТЬ КОММЕНТАРИЙ'
          ></textarea>
        </lable>
        <button class='input-button' type='submit'>
          ОПРАВИТЬ
        </button>
      </form>
    </div> }}
    <div class='delivery-formReviews-box'>
      {{{formDeliveryMarkUp}}}
    </div>
  </div>
</section>