<section class="favorites">
    <div class="container">
        <h2 class="favorites__title">ИЗБРАННОЕ</h2>
        <ul class="favorites__data">
            {{#each this}}
            <li class="favorites__data-item" id="{{id}}">
                <div class="favorites__product">

                    <div class="favorites__product--image-box">
                        <picture>
                            <source srcset='{{image.srcset}}' media='(min-width: 1920px)' />
                            <source srcset='{{image.srcset-mobile}}' media='(max-width: 414px)' />
                            <img class='favorites__product--image' src='{{image.src}}' alt='{{image.alt}}' />
                        </picture>
                    </div>

                    <div class="favorites__product--info">
                        <p class="favorites__product--info-text">{{name}}</p>
                        {{#if size}}
                        <p class="favorites__product--info-text">Размер {{size}}</p>
                        {{/if}}
                        <p>{{price}} &#8372;</p>
                    </div>
                </div>
                <textarea class='favorites__description' name="{{id}}" cols="30" rows="10" maxlength="400"
                    placeholder="ДОБАВИТЬ КОММЕНТАРИЙ">{{description}}</textarea>
                <div class="favorites__button-group">
                    <button class='favorites__button-buy' aria-label="buy">КУПИТЬ</button>
                    <button class='favorites__button-delete' aria-label="delefe from favorites">
                        <span class='favorites__button-delete--text'>Удалить</span>
                        <svg class='favorites__button-delete--icon'>
                            <use href='./images/product-icon-close.svg#icon-close-modal'></use>
                        </svg>
                    </button>
                </div>
            </li>

            {{/each}}
        </ul>
        <div>
            <p class="favorites__sand-on-email--title">ДЕЙСТВИЯ НАД ЛИСТОМ ПОЖЕЛАНИЙ</p__sand-on-email>
            <div class="favorites__sand-on-email">
                <button class="favorites__sand-on-email--button" aria-label="send to email">ОТПРАВИТЬ НА ПОЧТУ</button>
                <p class="favorites__sand-on-email--text">Список товаров находящихся в “избранном”, будет отправлен на
                    ваш электронный адрес, и вы в любой момент сможете получить
                    к нему доступ.</p>
            </div>
        </div>
    </div>
</section>