<section class='hero'>{{{pageHeroSliderMarkup}}}</section>
<section class='content'>{{{cardsMarkup}}}</section>
<section class='aboutBrand section'>{{{aboutTheBrand_parsing}}}</section>
<section class='showroom section'>
  {{{pageShowroomSliderMarkup}}}
  <div class='reviews-section-form--home'>
    <div class='container'>
      <div class='reviews-formReviews-box'>
        {{{formBrand}}}
      </div>
    </div>
  </div>
</section>
<section class='star-clients section'>{{{pageStarClientsSliderMarkup}}}</section>

{{{cardChatReviewsMarkup}}}
{{{pageInInstagramSliderMarkup}}}