{{{pageHeroSliderMarkup}}}
{{{cardsMarkup}}}
{{{aboutTheBrand_parsing}}}
{{{pageShowroomSliderMarkup}}}
<section class='section reviews-section-form reviews-section-form--home'>
  <div class='container'>
    <div class='reviews-formReviews-box'>
      {{{formBrand}}}
    </div>
  </div>
</section>
{{{pageStarClientsSliderMarkup}}}
{{{cardChatReviewsMarkup}}}
{{{pageInInstagramSliderMarkup}}}